*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}
.container{
    height: 500px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(80, 78, 78);

}
.box-container{
    margin: 0 auto;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: center;
    align-items: center;
    gap: 20px;
}
.form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}
.box-container input{
    padding: 10px 20px;
    border: solid 3px grey;
}
.box-container button{
    padding: 10px 20px;
    border-radius: 8px;
    background-color: black;
    color: white;
}
button:hover{
    cursor: pointer;
}